.container {
  margin-bottom: 20px;
}
.top-banner {
  background: #7b1a1a;
  padding-top: 150px;
  padding-bottom: 50px;
}

.button {
  background-color: #7b1a1a;
  border: 1px whitesmoke solid;
  border-radius: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.4s;
}
.button:hover {
  transform: scale(1.1);
  color: white;
}

.navbar-light {
  background-color: #f0fff0;
}

.token {
  width: 250px;
  border: 2px solid white;
  margin: 10px;
  box-shadow: 0 0 10px lightslategray;
}
.token-image {
  width: 100px;
  height: 150px;
}
.icon-style {
  width: 30px;
  height: 30px;
}
.card {
  box-shadow: 5px 2px 20px lightgray;
}
.card-footer {
  box-shadow: 0 0 5px lightgray;
}

footer {
  background-color: #704242;
}
